img{
    max-width: 500px;
}
.logo{
    width: 100px;
}
h1,
h3{
    font-family: 'DM Serif Display', serif;
    color: #1972b5;
    font-weight:500;
    font: size 20px;
}
p,
li{
    font-family: 'Barlow Condensed', sans-serif;
    font-size:20px;
	margin-top:20px;
}