/* general */
img{
max-width: 500px;
}

main{
background-color: #c7cde6;
margin-bottom: 20px;
}

body{
background-color:#798bb3;
}

h1{
font-family: 'Merriweather', serif;
text-transform: uppercase;
text-align: center;
color: #434b61;
font-weight:700;
font-size:4em;
letter-spacing: 1.1px;
}

h2{
font-family: 'Merriweather', serif;
font-weight:700;
font-size:1em;
}

p, li, figcaption{
font-family: 'PT Sans', sans-serif;
color: #4e444d;
font-weight:400;
font-size:1em;
}

figcaption{
text-align: center;
}

.about-img{
border-bottom: 5px solid #8C92AC;
border-right: 5px solid #8C92AC;
border-left: 5px solid #8C92AC;
border-top: 5px solid #8C92AC;
}

.alt{
margin-bottom: 20px;
}

.seperator{
margin: 20px 0 0 0;
padding: 10px;
background-color: #8187a0;
color: white;
text-align: center;
text-transform: uppercase;
letter-spacing: 2px;
font-weight:700;
font-size:2em;
}

/* cards */
.btn{
    background: #8C92AC;
    color:white;
    font-weight:700;
    font-size: 0.9em;
}

.card-body{
    text-align:center;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-img-top{
    margin:0 auto;
}

/* sources */
.bib{
text-align: center;
font-size: 0.7em;
}