/* general */
img{
    max-width: 500px;
}

/* navbar */
.custom-nav{
    background-color:rgb(66, 64, 64);
    padding: 20px 0;
    margin-bottom: 0px;
    font-family: 'Scheherazade New', serif;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1.1px;
    border-bottom: 5px solid #e99059;
}

.navbar-toggler{
    margin:0 auto;
    border:0;
}

.nav-link{
    text-align: center;
}

.name{
    font-family: 'Scheherazade New', serif;
    text-align: center;
    color: #b18e78;
    font-weight:700;
    font-size:5em;
}

/* about */
.bio{
    font-family: 'Roboto', sans-serif;
    color: #4e444d;
    font-weight: 500;
    font-size:1.2em;
}

.bio2{
    font-family: 'Roboto', sans-serif;
    color: #3a3339;
    font-weight: 300;
    font-size:1em;
}

.about-img{
border-bottom: 5px solid #c5aa98;
border-right: 5px solid #c5aa98;
border-left: 5px solid #c5aa98;
border-top: 5px solid #c5aa98;
}

.socials{
    color: #b18e78;
    padding-right: 10px;
}

@media (max-width: 450px){
    h1{
        font-size: 3em;
    }
    .custom-nav{
        margin-bottom:0;
    }
}

/* resume */
.resumedesc{
    font-family: 'Scheherazade New', sans-serif;
    color: #4e444d;
    font-weight:700;
	font-size:1.6em;
}

.resumetitle{
    font-family: 'Roboto', sans-serif;
	color: #3a3339;
    font-weight:500;
    font-size:1.2em;
}

.resumedate{
    font-family: 'Roboto', sans-serif;
    color: #3a3339;
    font-weight:300;
	font-size:0.8em;
}

.resumepara{
    font-family: 'Roboto', sans-serif;
    color: #3a3339;
    font-weight:400;
	font-size:1em;
}

/* clips */
.clips{
    font-family: 'Scheherazade New', serif;
    text-align: left;
    color: #4e444d;
    font-weight:700;
    font-size:1.6em;
}

.caption{
    font-family: 'Roboto', sans-serif;
    color: #3a3339;
    font-weight:500;
    font-size:1.4em;
}

.date{
    font-family: 'Roboto', sans-serif;
    color: #3a3339;
    font-weight:300;
    font-size:1.2em;
}

.desc{
    font-family: 'Roboto', sans-serif;
    color: #3a3339;
    font-weight: 400;
    font-size:1.2em;
}

.btn{
    background: #dabdab;
    color: #5c505a;
    font-weight: 700px;
    font-size: 0.9em;
}

.card-body{
    text-align:center;
}

.card{
    margin-bottom: 10px;
}


/* contact */
.contactcard{
    font-family: 'Scheherazade New', sans-serif;
    color: #4e444d;
    font-weight:700;
	font-size:1.6em;
}

.contacttitle{
    font-family: 'Roboto', sans-serif;
    color: #3a3339;
    font-weight:500;
    font-size:1.2em;
}

.contactinfo{
    font-family: 'Roboto', sans-serif;
    color: #3a3339;
    font-weight: 400;
    font-size:1em;
}

/* other */
.block{
    background-color: #c5aa98;
    padding: 10px;
    margin-bottom: 10px;
}