img{
    max-width: 500px;
}

.logo{
    width: 100px;
}

header{
    font-family: 'Libre Baskerville', sans-serif;
    color: #443742;
}

.bg-custom{
    background-color:rgb(66, 64, 64);
    padding: 20px 0;
    margin-bottom:40px;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 1.2px;
    word-spacing: 40px;
    font-weight: 700px;
    border-bottom: 1px solid;
}

.navbar-toggler{
    margin:0 auto;
    border:0;
}

/* about */
.name{
    font-family: 'Scheherazade New', serif;
    text-align: left;
    color: #3a3339;
    font-weight:700;
    font-size:10em;
}

.bio{
    font-family: 'Roboto', sans-serif;
    color: #3a3339;
    font-size:2.5em;
    font-weight: 300;
}

/* resume */
.resumedesc{
    font-family: 'Scheherazade New', sans-serif;
    color: #5c505a;
    font-weight:700;
	font-size:4.5em;
}

.resumetitle{
    font-family: 'Roboto', sans-serif;
	color: black;
    font-weight:500;
    font-size:3em;
}

.resumedate{
    font-family: 'Roboto', sans-serif;
    color: black;
	font-size:2em;
}

.resumepara{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight:300;
	font-size:2.3em;
}

/* clips */
.clips{
    font-family: 'Scheherazade New', serif;
    text-align: left;
    color: #5c505a;
    font-weight:700;
    font-size:4.5em;
}

.soccer{
    font-family: 'Roboto', sans-serif;
    color: #3a3339;
    font-weight:500;
    font-size:3.5em;
}

.date{
    font-family: 'Roboto', sans-serif;
    color: #3a3339;
    font-weight:100;
    font-size:1.9em;
}

.desc{
    font-family: 'Roboto', sans-serif;
    color: #3a3339;
    font-weight: 300;
    font-size:2.2em;
}

.btn{
    background: #dabdab;
    color: rgb(136, 115, 115);
    font-weight: 700px;
    font-size: 1.5em;
}

.card-body{
    text-align: centre;
}

.card{
    margin-bottom: 10px;
}


/* contact */
.contactcard{
    font-family: 'Helvetica Neue', sans-serif;
    font-weight:bold;
    color: #685c53;
	font-size:4em;
}

.contacttitle{
    font-family: 'Roboto', sans-serif;
    color: #3a3339;
    font-weight:500;
    font-size:2.5em;
}

.contactinfo{
    font-family: 'Roboto', sans-serif;
    color: #3a3339;
    font-weight: 300;
    font-size:2em;
}

/* other */
.block{
    background-color: #c5aa98;
    padding: 20px;
    margin-bottom: 20px;
}