header{
    font-family: 'Libre Baskerville', sans-serif;
    color: #443742;
}
.bg-custom{
    background-color:rgb(66, 64, 64)
}
.navbar-toggler{
    border:0;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1.2px;
    font-weight: 700px;
}
img{
    max-width: 500px;
}
.logo{
    width: 100px;
}
h1{
    font-family: 'Libre Baskerville', serif;
    color: #443742;
    font-weight:bold;
    font-size:90px;
}
h2{
    font-family: 'Helvetica Neue', sans-serif;
    color: #846C5B;
	font-size:70px
}
h3{
    font-family: 'Helvetica Neue', sans-serif;
    color: #CEA07E;
    font-weight:bold;
	font-size:55px
}
h4{
    font-family: 'Helvetica Neue', sans-serif;
	font-size:50px
}
h5{
    font-family: 'Georgia', sans-serif;
    color: #D2B48C;
	font-size:40px
}
p{
    font-family: 'Times New Roman', sans-serif;
    color: black;
    font-weight:200;
	font-size:45px
}
.RESUME {
    color:#36454F;
    text-decoration: none;
    font-weight: 600;
}
