.headline {
    color: red;
    font-family: lobster;
    font-weight:600;
}

.discography{
    color:turquoise;
    font-family:lobster;
}

body{
    font-family: josefin sans;
    font-weight:bolder;
}