/* general */
img{
max-width: 500px;
}

h2{
font-family: 'Merriweather', serif;
font-weight:700;
font-size:1em;
}

p{
font-family: 'PT Sans', sans-serif;
color: #4e444d;
font-weight:400;
font-size:0.9em;
}

/* navbar */
.custom-nav{
background-color:#56575e;
padding: 20px 0;
margin-bottom: 0px;
font-family: 'Scheherazade New', serif;
text-transform: uppercase;
font-size: 0.9em;
letter-spacing: 1.1px;
border-bottom: 5px solid #8C92AC;
}

.navbar-toggler{
 margin:0 auto;
 border:0;
}

.nav-link{
 text-align: center;
}

h1{
font-family: 'Merriweather', serif;
text-align: center;
color: #8C92AC;
font-weight:700;
font-size:5em;
}

@media (max-width: 450px){
h1{
     font-size: 3em;
}
.custom-nav{
     margin-bottom:0;
 }
}

/* main */
.seperator{
margin: 40px 0 0 0;
padding: 10px;
background-color: #8C92AC;
color: white;
text-align: center;
text-transform: uppercase;
letter-spacing: 2px;
font-weight:700;
font-size:2em;
}

/* cards */
.cards{
background-color: #A9A9A9; 
}

.btn{
    background: #8C92AC;
    color:white;
    font-weight: 700px;
    font-size: 0.9em;
}

.card-body{
    text-align:center;
}

.card{
    margin-bottom: 10px;
}

.card-img-top{
    margin:0 auto;
}